[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
opencv-python = "*"
mtcnn = "*"
matplotlib = "*"
pypi = "*"
numpy = "*"
face-recognition = "*"
dlib = "*"
cmake = "*"

[requires]
python_version = "3.8"
